body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Logo design */
#bike-icon {
    transform: rotate(-90deg);
    font-size: 2rem; 
    color: #9ACD32; 
    cursor: pointer;
    margin-left: 2rem;
    transition: transform 0.5s ease;
}

#brand-text {
    font-weight: bold; 
    font-size: 2rem; 
    text-decoration: none; 
    color: #9ACD32; 
    cursor: pointer;
}

/* About-us design */ 
.section {
    margin-top: -2rem;
    margin-bottom: -1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
}

.container {
    display: flex;
    max-width: 1200px; 
    margin: 0 auto; 
}

.about-banner {
    position: relative;
    margin-right: 30px; 
}

.img-1 {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    animation: fadeIn 1s ease-out forwards; 
    transition: transform 0.3s ease;
}

.about-content {
    flex: 1;
    padding: 20px;
    background-color: #fff; 
    border-radius: 20px; 
    animation: fadeSlideIn 1s ease-out forwards;
}

.section-subtitle {
    color: #4CAF50;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.section-subtitle::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 30px; 
    height: 3px;
    background: #4CAF50;
}

.h2.section-title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.section-text {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
}

.about-card {
    background: #f7f7f7; 
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.card-title {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
}

.about-list {
    list-style: none;
}

.about-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.about-item i{
    color: #4CAF50;
    margin-right: 0.5rem;
}

.span{
    font-weight: bold; 
}

/* FAQ design */ 
.Faq {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

.containerFAQ {
  background-color: #fff;
  width: 90%;
  border-radius: 20px;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  max-width: 1035px;
  max-height: fit-content;
  margin-left: 9rem;
}

.containerFAQ .imgCont {
  width: 100%;
  margin-top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerFAQ .imgCont img {
  margin-left: 6px;
  animation: fadeIn 1s ease-out forwards; 
  transition: transform 0.3s ease;
  width: 400px;
  height: 356px;
  margin-bottom: 10px;
}

.containerFAQ .questionCont {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerFAQ .questionCont h1 {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  margin-top: -2rem;
  margin-bottom: 15px;
}

.containerFAQ .questionCont .card {
  width: 85%;
  transition: 3s ease all;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.containerFAQ .questionCont .card .question {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  align-items: center;
}

.containerFAQ .questionCont .questionpara p {
  font-weight: 700;
  color: hsl(240, 6%, 50%);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease max-height;
}

.containerFAQ .questionCont .card .arrowCont {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  user-select: none;
  transition: 0.5s ease transform;
  margin-right: 0.4rem;
}

.containerFAQ .questionCont .card .arrowCont img {
  margin-top: 3px;
  height: 15px;
}

.containerFAQ .questionCont .card .arrowCont:active {
  background-color: hsla(240, 6%, 50%, 0.514);
}

.answer .answerPara p {
  padding: 15px 10px;
  padding-top: 0%;
  color: hsl(240, 6%, 50%);
  line-height: 17px;
}

.containerFAQ .questionCont .card.active .questionpara p {
  color: #000;
}

.containerFAQ .questionCont .card.active .answer {
  height: auto;
  max-height: 70px;
}

.containerFAQ .questionCont .card.active .arrowCont {
  transform: rotate(-180deg);
}

@media (min-width: 900px) {
  .containerFAQ {
    flex-direction: row;
    height: 500px;
    margin-top: 0;
    width: 90%;
  }
  .card {
    overflow: auto;
  }
  .containerFAQ .questionCont {
    height: 100%;
    margin: 0;
    align-items: baseline;
    justify-content: unset;
    margin-top: 100px;
  }
  .containerFAQ .imgCont {
    height: 100%;
    margin-top: 10px;
    margin-left: -150px;
  }
  .containerFAQ .imgCont img {
    transform: scale(1.4);
  }
}

.attribution {
  position: absolute;
  bottom: 2%;
}
  
/* Media queries for responsiveness */
@media (max-width: 840px) {
    .containerFAQ {
      margin-left: -0.6rem;
      margin-bottom: 1rem;
      height: 800px;
    }
    .about-banner {
        margin-right: 0px; 
    }         
    .section {
        flex-direction: column;
        padding: 20px;
    }
    .container {
        flex-direction: column;
    }
    .about-banner {
        margin-bottom: 20px;
    }
    .img-1 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 767px) and (max-width: 1000px){
  .containerFAQ .imgCont img {
   margin-top: 7rem;
  }
  .containerFAQ {
    height: 900px;
    margin-top: 0rem;
  }
}

#bike-icon:hover {
    transform: rotate(0deg);
}

.img-1:hover {
    transform: scale(1.03);
}

/* Animations */
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
