body{
  background-color: #f7f7f7;
}

/* Logo design */
#bike-icon {
  transform: rotate(-90deg);
  font-size: 2rem; 
  color: #9ACD32; 
  cursor: pointer;
  margin-left: 2rem;
  transition: transform 0.5s ease;
}

#brand-text {
  font-weight: bold; 
  font-size: 2rem; 
  text-decoration: none; 
  color: #9ACD32; 
  cursor: pointer;
} 

/* Slider design */
.carousel{
  animation: fadeIn 1s ease-out forwards; 
  transition: transform 0.3s ease;
}

.carousel-control-prev{
  max-width: 8rem;
}

.carousel-control-next{
  max-width: 8rem;
}
.carousel-caption, .carousel-captionThree {
  color: #302b2b;
  position: absolute;
  top: 0;
  margin-left: 10rem;
  margin-top: 3rem;
  font-weight: 600;
  z-index: 1;
}

.carousel-caption h1, .carousel-captionThree h1{
  font-size: 3.3rem;
  font-weight: 600;
}

.carousel-caption p, .carousel-captionThree p {
  color: #302b2b;
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: .25rem .5rem;
  font-weight: 300;
  width: 30rem;
}

.more-button, .more-buttonThree {
  background-color: white; 
  color: #302b2b;
  border: none; 
  padding: .5rem 1.5rem; 
  border-radius: 20px; 
  font-size: 1rem; 
  cursor: pointer; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-weight: 600;
}

.more-button:hover {
  background-color: #d3cdcd; 
}

.carousel-item img,.carousel-captionThree img {
  max-width: 100%; 
  height: 40.5rem; 
}

.carousel-captionThree {
  color: white;
  margin-left: 10rem;
  margin-top: 15rem;
}

.carousel-captionThree p {
  color: white;
  font-weight: 300;
}

.more-buttonThree {
  background-color: white; 
  color: black; 
  font-weight: 600;
}

.more-buttonThree:hover {
  background-color: #d3cdcd; 
}
  
/* Three mini cards design */
.square {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  float: left;
  width: 5rem;
  height: 10rem;
  margin-top: 2rem;
}

.square:hover .square-image {
  transform: scale(1.1);
}

.square-image {
  transition: transform 0.5s ease;
  position: relative;
  z-index: 1;
}

.square-image img {
  max-width: 100%;
}

.square-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.square:hover .square-text {
  opacity: 1;
}

.square-text h2 {
  font-size: 24px;
  margin-top: 0;
}

.square-text p {
  font-size: 16px;
  margin-bottom: 0;
}

/* Home bike design */
.container {
  max-width: 1290px;
  margin: auto;
  padding: 20px;
  margin-bottom: -4.5rem;
}

.section {
  border-top: 2px solid #cec5c5;
  margin-top: 15rem;
  text-align: center;
  padding: 50px 0;
}

.h2.section-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: -2rem;
  color: #4d5666;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  white-space: normal; 
  font-family: "Montserrat", sans-serif; 
}

.h2 {
  margin: 20px 0;
  font-size: 2.5rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-list {
  list-style: none;  
  padding: 0;
}

.service-item {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
}

.service-item .card-icon {
  background-color: #9ACD32;
  min-width: 75px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: 20px 0;
  transition: 0.25s ease;
  margin-left: 1rem;
  margin-right: 15px;
  font-size: 30px;
  color: #ffffff;
}

.service-item:hover .card-icon {
  border-radius: 0;
  border-top-right-radius: 20px;
  background-color: black;
}

.service-item:not(:last-child) {
  margin-bottom: 20px;
}

.card-title{
  color: #4d5666;
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
}

.card-text {
  margin: 0px;
  color: #463d3d;
}

.img-holder {
  width: 100%;
  max-width: 425px;
  margin: 0 -5px;
  transition: transform 0.3s ease;
}

.img-holder:hover {
  transform: scale(1.05);
}

.img-cover {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* See more design*/
.container-more {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif; 
  font-weight: 400;
}

.cards-info {
  border-radius: 2px;
  padding: 3px 6px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

.cards-info.badge-danger {
  background-color: #e2df11;
}

.cards-info.badge-info {
  background-color: #58bafc;
}

.cards-info.badge-dark {
  background-color: #6AFF00;
}

.latest-news {
  border-top: 2px solid #cec5c5;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #eaf2fe;
}

.latest-news .row-title {
  text-align: left;
  font-size: 2.2rem;
  font-weight: 700;
  color: #4d5666;
  margin-bottom: 10px;
}

.latest-news .main-btn-holder {
  text-align: right;
  margin-bottom: 30px;
}

.latest-news .post-box {
  position: relative;
  border-radius: 15px;
  padding: 115px 35px 40px 35px;
  margin: 20px 0;
  z-index: 1;
}

.latest-news .post-box.blue-bg {
  background-color: #4789fc;
}

.latest-news .post-box.blue-bg .post-img {
  opacity: 0.45;
}

.latest-news .post-box.grey-bg {
  background-color: #333c4e;
  height: 16.9rem;
}

.latest-news .post-box.grey-bg .post-img {
  opacity: 0.15;
}

.latest-news .post-box.yellow-bg {
  background-color: #ffc600;
}

.latest-news .post-box.yellow-bg .post-img {
  opacity: 0.11;
}

.latest-news .post-box .post-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: -1;
  background-size: 100%;
  background-position: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.latest-news .post-box .badge {
  margin-bottom: 8px;
}

.latest-news .post-box .post-title {
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  color: #ffffff;
  max-width: 70%;
  margin-bottom: 15px;
  margin-top: 5px;
}

.latest-news .post-box .post-link a {
  font-size: 10.5px;
  font-weight: 600;
  padding: 10px 14px;
  color: #3e6077;
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.latest-news .post-box .post-link a:hover {
  color: #4CAF50;
}

.post-box {
  display: inline-block;
  width: 100%;
  max-width: 1070px;
  margin-bottom: 80px;
}

.post-box .post-title {
  font-size: 27px;
  font-weight: 700;
  color: #4d5666;
  margin-bottom: 18px;
}

.blue-bg {
  background-color: #2a74e3;
}

/* Sponsors Footer */
.sponsorsFooter {
  border-top: 2px solid #cec5c5;
  width: 100%;
  height: auto;
  padding: 40px 0px 10px;
  z-index: 14;
  margin-top: 0px;
  z-index: 1;
  text-align: center;
  z-index: 99;
}

.sponsorsFooter h1 {
    width: 40.2%;
    font-size: 2.2rem;
    font-weight: 700;
    color: #4d5666;
    margin-bottom: -15px;
  }

.sponsorsFooter h1 > strong { font-weight: 700;}

.sponsorsFooter img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  vertical-align: middle;
  max-width: 131px;
}

.sponsorsFooter ul {
  padding: 0;
  margin: 15px 0 0 0;
  list-style: none;
  display: block;
}

.sponsorsFooter ul.enter > span:not(.hover) {
  opacity: .1;
}

.sponsorsFooter ul.enter > span.hover {
  opacity: 1;
  box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, .1), inset 1px 0 0 0 rgba(0, 0, 0, .1);
}

.sponsorsFooter ul span {
  display: inline;
  word-break: break-all;
  word-wrap: break-word;
  margin: 0px;
  padding: 26px 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.sponsorsFooter ul span,
.sponsorsFooter ul span li > a {
  cursor: default;
  border: none;
  outline: 0;
  text-decoration: none;
}

.sponsorsFooter ul li {
  margin: 35px 16px 0px;
  display: inline-block;
}

/* badges design */
.badges {
  border-top: 2px solid #cec5c5;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  background-color: #eaf2fe;
  margin-top: 2.5rem;
}

.badge {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  text-align: left; 
  margin: 40px 66px 30px; 
}

.icon {
  border-radius: 50%;
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  margin-right: 10px; 
}

.green { border: 2px solid #4CAF50; color: #4CAF50 }
.blue { border: 2px solid #4CAF50; color: #4CAF50 }
.red { border: 2px solid #4CAF50; color: #4CAF50 }

.text {
  color: #000;
  font-size: 14px;
  line-height: 1.4;
}

.textHeader{
  font-size: 24px;
  color: #4d5666;
}

.textMini{
  font-size: 12px;
  color: #474545;
}

.badge .icon i {
  color: #4CAF50;
  border-color: inherit;
  font-size: 2.5rem;
}  

/* Responsiveness */
@media (min-width: 768px){
  .square {
    width: calc(33.33% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
  .square:last-child {
    margin-right: 0;
  }
  .square-text {
    padding: 30px;
    font-size: 18px;
  }
  .square-text h2 {
    font-size: 30px;
    margin-top: 0;
  }
  .square-text p {
    font-size: 20px;
    margin-bottom: 0;
  }
}           

@media (min-width: 768px) and (max-width: 1200px) {
  .carousel-item img, .carousel-captionThree img{
    height: 19rem; 
  }
  .carousel-caption p, .carousel-captionThree p { 
    font-size: 1rem; 
  }
  .carousel-caption h1, .carousel-captionThree h1{
    font-size: 2rem;
  }
  .carousel-captionThree {
    margin-left: 5rem;
    margin-top: 5rem;
  }
  .latest-news .post-box .post-title {
    max-width: 100%;
  }
}
  
@media (max-width: 767px) {
  .carousel-item img, .carousel-captionThree img {
    height: 10rem; 
  }
  .carousel-caption p, .carousel-captionThree p { 
    display: none;
  }
  .carousel-caption h1, .carousel-captionThree h1 {
    font-size: 0.9rem;
  }
  .latest-news .row-title {
    text-align: center;
  }
  .latest-news .main-btn-holder {
    text-align: center;
  }
  .more-button, .more-buttonThree {
    padding: 0.2rem 0.5rem;
    margin-top: 0rem;  
    font-size: 0.8rem;
    margin-left: 1.6rem;
  }
  .carousel-caption {
    margin-left: 3rem;
    margin-top: 0rem;
  }
  .carousel-captionThree {
    margin-left: 3rem;
    margin-top: 4rem;
  }
  .wrapper {
    flex-direction: column;
  }
  .img-holder {
    order: -1;
    margin-bottom: 30px;
  }
  .service-list {
    max-width: 500px;
    margin: auto;
  }
  .latest-news {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .latest-news .row-title {
    font-size: 25px;
    text-align: left;
    margin-bottom: 5px;
  }
  .latest-news .main-btn-holder {
    display: none;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}