body{
    background-color: #f7f7f7;
}

    /* Logo design */
    #bike-icon {
    transform: rotate(-90deg);
    font-size: 2rem; 
    color: #9ACD32; 
    cursor: pointer;
    margin-left: 2rem;
    transition: transform 0.5s ease;
    }

    #brand-text {
    font-weight: bold; 
    font-size: 2rem; 
    text-decoration: none; 
    color: #9ACD32; 
    cursor: pointer;
    } 

    /* Carousel design */
    .carousel-caption, .carousel-captionThree {
    color: #000;
    position: absolute;
    top: 0;
    margin-left: 5rem;
    margin-top: 3rem;
    z-index: 10;
    }
    
    .carousel-caption h1, .carousel-captionThree h1{
    font-size: 3.3rem;
    }
    
    .carousel-caption p, .carousel-captionThree p {
    color: black;
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: .25rem .5rem;
    }

    .more-button, .more-buttonThree {
    background-color: #000; 
    color: white; 
    border: none; 
    padding: .5rem 1.5rem; 
    border-radius: 20px; 
    font-size: 1rem; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
    margin-top: 1rem;
    margin-left: 0.5rem;
    }
    
    .more-button:hover {
    background-color: #333; 
    }

    .carousel-item img,.carousel-captionThree img {
    max-width: 100%; 
    height: 40.5rem; 
    }

    /* Carousel design Three */
    .carousel-captionThree {
    color: white;
    margin-left: 10rem;
    margin-top: 15rem;
    }
    
    .carousel-captionThree p {
    color: white;
    }

    .more-buttonThree {
    background-color: white; 
    color: black; 
    }
    
    .more-buttonThree:hover {
    background-color: #d3cdcd; 
    }
    
    @media (min-width: 768px) and (max-width: 1200px) {
    .carousel-item img, .carousel-captionThree img{
    height: 19rem; 
    }
    .carousel-caption p, .carousel-captionThree p { 
    font-size: 1rem; 
    }
    .carousel-caption h1, .carousel-captionThree h1{
    font-size: 2rem;
    }
    .carousel-captionThree {
    margin-left: 5rem;
    margin-top: 5rem;
    }
}
    
    @media (max-width: 767px) {
    .carousel-item img, .carousel-captionThree img {
    height: 10rem; 
    }
    .carousel-caption p, .carousel-captionThree p { 
    display: none;
    }
    .carousel-caption h1, .carousel-captionThree h1 {
    font-size: 0.9rem;
    }
    .more-button, .more-buttonThree {
    padding: 0.2rem 0.5rem;
    margin-top: 0rem;  
    font-size: 0.8rem;
    margin-left: 1.6rem;
    }
    .carousel-caption {
    margin-left: 3rem;
    margin-top: 0rem;
    }
    .carousel-captionThree {
    margin-left: 3rem;
    margin-top: 4rem;
    }
}

/* Bike design */
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }

  .section {
    margin-top: -2rem;
    text-align: center;
    padding: 50px 0;
  }

  .section-subtitle {
    color: #888;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: -1rem;
  }

  .h2.section-title {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    white-space: normal; 
  }

  .h2 {
    margin: 20px 0;
    font-size: 2.5rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .service-list {
    list-style: none;
    padding: 0;
  }

  .service-item {
    background: #f7f7f7;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }

  .service-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .card-icon {
    margin-right: 15px;
    font-size: 30px;
  }

  .card-text {
    margin: 0;
    color: #463d3d;
  }

  .img-holder {
    width: 100%;
    max-width: 400px;
    margin: 0 30px;
  }

  .img-cover {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .section i{
    color: #4caf50;
  }

  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
    }
    .img-holder {
      order: -1;
      margin-bottom: 30px;
    }
    .service-list {
      max-width: 500px;
      margin: auto;
    }
  }

  /* Video design */
  .container-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

  .video{
    width: 1100px;
    height: 400px;
    padding: 10px 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    border-top-left-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 0;
  }

  