body{
    background-color: #f7f7f7;
}

    /* Logo design */
    #bike-icon {
    transform: rotate(-90deg);
    font-size: 2rem; 
    color: #9ACD32; 
    cursor: pointer;
    margin-left: 2rem;
    transition: transform 0.5s ease;
    }

    #brand-text {
    font-weight: bold; 
    font-size: 2rem; 
    text-decoration: none; 
    color: #9ACD32; 
    cursor: pointer;
    }
    
    .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 68rem; 
    height: 20rem;
    margin: 0 auto; 
    margin-bottom: 2rem;
    animation: fadeIn 1s ease-out forwards;
    }
      
    /* Store cards design */
    .stores-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    background: #f5f5f5; 
    }

    .store {
    border: 1px solid #ddd; 
    max-width: 350px;
    width: 100%;
    background: #fff;
    border-radius: 10px; 
    box-shadow: 0 6px 10px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
      
    .store:hover {
    transform: scale(1.03); 
    box-shadow: 0 8px 14px rgba(0,0,0,0.2);
    }

    .store-header {
    margin-top: 5px;
    font-size: 1.1rem;
    background-color: #ffffff; 
    color: #423c3c; 
    font-weight: bold;
    text-align: center;
    }

    .store-header-name {
    font-size: 1rem;
    background-color: #ffffff; 
    color: #4CAF50; 
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    }

    .store-image img {
    max-width: 100%; 
    height: auto; 
    display: block;
    }

    .store-content {
    padding: 10px;
    }

    .store-hours {
    background-color: #ffffff; 
    color: #000;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 1px;
    text-align: center;  
    }

    .storeColorText {
    color: #423c3c; 
    display: inline; 
    } 
  
    .storeColorNum{
    color: #4CAF50; 
    display: inline; 
    } 

    .store-hours-time {
    background-color: #ffffff; 
    color: #423c3c; 
    margin-bottom: 1px;
    text-align: center;
    font-weight: bold; 
    margin-bottom: 15px; 
    font-size: 0.9rem;
    font-family: var(--ff-quicksand);
    }

    .store-button {
    display: block;
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    }

    .store-button:hover {
    background-color: #469749; 
    }

    .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    animation: fadeIn 0.3s ease forwards;
    }

    /* Store popup */
    .store-popup {
    position: fixed;
    width: 80%;
    max-width: 600px;
    height: auto;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
    animation: fadeIn 0.3s ease forwards;
    }
    
    .popup-content {
    padding: 20px;
    }

    .popup-content h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 25px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    }
    
    .popup-content p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    }
    
    .popup-map {
    width: 100%;
    height: 200px; 
    background-color: #eaeaea;
    margin-top: 20px;
    position: relative;
    }

    .no-scroll {
    overflow: hidden;
    height: 100%;
    }

    @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
    }

    .small-image {
    width: 270px; 
    position: absolute;
    height: 160px;
    right: 0.8rem;
    top: 5.2rem;
    border-radius: 2rem;
    }

    .close-popup {
    position: absolute;
    top: 2px; 
    right: 10px; 
    font-size: 15px; 
    cursor: pointer; 
    }

     /* Media queries for responsiveness */
     @media (max-width: 700px) {
        .small-image {
            display: none;
        }

        .banner {
            height: 10rem; 
        }
    }

    .stores-container:nth-child(odd) {
        animation: fadeInOdd 1s ease forwards;
    }
    
    .stores-container:nth-child(even) {
        animation: fadeInEven 1s ease forwards;
    }
    
    @keyframes fadeInOdd {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes fadeInEven {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    