body{
    background: rgb(255, 255, 255);
    font-family: var(--ff-open-sans);
    }

     /* Navbar + logo design */
    .navbar {
    display: flex;
    justify-content: center;
    align-items: center;   
    }

    #bike-icon {
    transform: rotate(-90deg);
    font-size: 2rem; 
    color: #9ACD32; 
    }

    #brand-text {
    font-weight: bold; 
    font-size: 2rem; 
    text-decoration: none; 
    color: #9ACD32; 
    pointer-events: none;
    }

     /* Sign-in/Sign-un form design */
    .container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    min-height: 500px;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    }

    .container p{
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    pointer-events: none;
    }

    .container span{
    font-size: 20px;
    pointer-events: none;
    }

    .container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    pointer-events: none;
    }

    .container button{
    background-color: #9ACD32;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    }

    .container button:hover{
    background-color: #7faf1e;
    }

    .container button.hidden{
    background-color: transparent;
    border-color: #fff;
    }

    .container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    }

    .container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    }

    .form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    }

    .sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
    }

    .container.active .sign-in{
    transform: translateX(100%);
    }

    /* Sign-up form design */
    .sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    }

    .container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
    }

    .toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
    }

    .container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
    }

     /* Sign-up/Sign-in move animation */
    .toggle{
    height: 100%;
    background: #8dcc0e;
    color:var(--black);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    }

    .container.active .toggle{
    transform: translateX(50%);
    }   

    .toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    }

    .toggle-left{
    transform: translateX(-200%);
    }

    .container.active .toggle-left{
    transform: translateX(0);
    }

    .toggle-right{
    right: 0;
    transform: translateX(0);
    }

/* Modal Style */
.modal-content {
    background-color: #1F1F1F;
    color: white;
    border-radius: 25px;
    max-height: 6rem;
}

.modal-header {
    border-bottom: none; 
    position: relative; 
    padding-bottom: 0;
}

.modal-body {
    padding-top: 0;
}

.checkmark-and-text {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 10px 20px; 
}

.checkmark-circle {
    width: 30px;
    height: 28px;
    background-color: #9ACD32; 
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-right: 10px; 
    margin-top: 0.7rem;
}

.checkmark {
    color: black; 
    font-size: 18px; 
    margin-right: 3px;
}

.email-text {
    font-size: 16px;
    margin-top: 1rem;
}

.modal-footer {
    display: none;
}