body{
  background-color: #f7f7f7;
}

/* Logo design */
#bike-icon {
  transform: rotate(-90deg);
  font-size: 2rem; 
  color: #9ACD32; 
  cursor: pointer;
  margin-left: 2rem;
  transition: transform 0.5s ease;
}

#brand-text {
  font-weight: bold; 
  font-size: 2rem; 
  text-decoration: none; 
  color: #9ACD32; 
  cursor: pointer;
}

/* Container for the filters */
#price-ranges {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-left: 2rem;
  background-color: #1f1d1d;
  color: white;
  animation: slideIn 1.2s ease;
  height: 105px;
}

.sort-button {
  padding: 4px 6px;
  margin-right: 11px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px; 
  transition: background-color 0.3s ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
  
.sort-button:hover {
  background-color: #3f8842; 
}

/* Select box */
#year-filter, #speed-filter, #weight-filter, #type-filter {
  padding: 4px; 
  border-radius: 4px;
  outline: none; 
  background-color: #fff; 
  color: #333;
  font-size: 14px; 
  margin-right: 0.5rem;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-family: var(--ff-quicksand);
}

#clear-filters-button {
  padding: 5px 6px;
  margin-right: 10px;
  background-color: #df0101;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px; 
  transition: background-color 0.3s ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

#clear-filters-button:hover{
  background-color: #c71313;
}

input[type="checkbox"] {
  width: 20px; 
  height: 60px; 
  border: 2px solid #4CAF50; 
  border-radius: 4px; 
  margin-right: 5px;
  cursor: pointer;
}

.filter-item {
  display: flex; 
  align-items: center; 
}

#toggle-filters-button {
  display: none;
  font-weight: 600;
  padding: 8px 12px;
  margin-bottom: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: center; 
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
}

#toggle-filters-button:hover {
  background-color: #3b863d; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.filter-item input[type="text"] {
  margin-left: 1rem;
  padding: 2px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  outline: none;
}

.filter-item input[type="text"]::placeholder {
  font-weight: 600;
  color: #333; 
  font-size: 14px;
}

.notFound {
  width: 400px;
  height: 400px;
  margin: 0 auto; 
  display: block; 
  max-width: 100%; 
  object-fit: contain; 
  animation: appear 1.5s ease-out forwards;
}

@keyframes appear {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}


/* Container bikes styling */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.featured-car-list {
  list-style: none;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Responsive grid */
  gap: 20px; 
  margin-bottom: 20px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  margin-left: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Bikes card styling */
.featured-car-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-bottom: 20px; 
  transition: transform 0.3s ease;
  width: 366px;
  height: auto; 
}

.featured-car-card:hover {
  transform: translateY(-5px);
}

.card-banner img {
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 15px;
  width: 300px;
  height: 320px;
}

.card-content {
  padding: 15px;
}

.card-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card-title-wrapper .h3 {
  font-size: 22px;
  color: #333;  
  font-weight: normal;
  margin-bottom: 4px;
}

.year {
  font-size: 14px; 
  font-weight: bold;
  color: #ffffff; 
  background-color: #4CAF50; 
  padding: 3px 6px;
  border-radius: 4px; 
  margin-left: 8px;
  display: inline-block; 
  vertical-align: middle;
}

.card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; 
}

/* Individual item */
.card-list-item {
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  width: 50%;
  padding: 4px 0;
}

.card-list-item i {
  font-size: 15.5px;
  color: #4CAF50;
  margin-right: 8px; 
  margin-bottom: 6px;
}

.card-item-text {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
}

/* Price and buttons */
.card-price-wrapper {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #eee;
  padding-top: 10px; 
}

.card-price strong {
  font-size: 28px;
  color: #333;
  font-weight: normal;
}

.btn {
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4CAF50;
  color: #fff;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 1000px) {
  .featured-car-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-right: 1.9rem;
  }
  .title-Products-first {
    display: none;
  }
  .title-Products {
    display: none;
  }
  .card-banner img {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #price-ranges {
    height: auto;
    display: none;
  }

  #toggle-filters-button {
    display: block;
  }

  .featured-car-card {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  #price-ranges {
    width: 90.5%;
    padding: 5px;
    border-radius: 6px;
  }
  
  .sort-button,
  #year-filter, #speed-filter, #weight-filter,#type-filter,
  .checkbox-label
  {
    margin-right: 5px; 
    padding: 6px 6px; 
  }

  .sort-button, #clear-filters-button {
    flex: 1 0 auto;
  }

  .sort-button {
    margin-bottom: 0.5rem;
  }

  .textFilter{
    margin-bottom: 0.5rem;
    margin-left: 0.4rem;
    margin-right: 0.5rem;
  }

  #year-filter, #speed-filter, #weight-filter, #type-filter{
    flex: 1;
    margin-bottom: 0.5rem;
  }

  input[type="checkbox"] {
    width: 45px;
    height: 25px;
  } 
}

@media (max-width: 767px) {
  #price-ranges {
    height: auto;
    display: none;
  }

  #toggle-filters-button {
    display: block;
  }

  .featured-car-card {
    width: 100%;
  }
  .card-banner img {
    height: 250px;
  }

  #price-ranges {
    width: 83%;
    padding: 8px;
    border-radius: 6px;
  }

  #speed-filter{
    margin-left: 0.4rem;
  }

  #year-filter{
    margin-left: 1rem;
  }

  #type-filter{
    margin-left: 1.1rem;
  }

  .sort-button,
  #year-filter, #speed-filter, #weight-filter, .filter-item, #type-filter,
  .checkbox-label
  {
    margin-right: 5px; 
    padding: 6px 6px; 
  }

  #clear-filters-button{
    margin-top: 0.5rem;
    margin-left: 0.6rem;
  }

  .sort-button, #clear-filters-button {
    flex: 1 0 auto;
  }

  .sort-button {
    margin-bottom: 0.5rem;
  }

  .textFilter{
    margin-bottom: 0.5rem;
    margin-left: 0.4rem;
    margin-right: 0.5rem;
  }

  #year-filter, #speed-filter, #weight-filter, #type-filter {
    flex: 1;
    margin-bottom: 0.5rem;
  }

  input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }

  .checkbox-label {
    flex-basis: 100%; 
  }
}

@media (max-width: 380px) {
  #price-ranges {
    height: auto;
    display: none;
  }

  #toggle-filters-button {
    display: block;
  }

  #speed-filter{
    margin-left: 1rem;
  }

  #year-filter{
    margin-right: 1rem;
  }

  #weight-filter{
    margin-left: 1rem;
  }

  #type-filter{
    margin-left: 1.65rem;
  }

}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10%{
    opacity: 0.1;
  }
  20%{
    opacity: 0.2;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

  
  


  