    /* Text font */
    :root {
    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-quicksand: 'Quicksand', sans-serif;

    --fs-1: 2.125rem;
    --fs-2: 1.875rem;
    --fs-3: 1.5rem;
    --fs-4: 1.375rem;
    --fs-5: 1.125rem;
    --fs-6: 0.875rem;
    --fs-7: 0.625rem;

    --fw-400: 400;
    --fw-600: 600;

    }

    @font-face {
    font-family: "Quicksand";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: local("Quicksand SemiBold"),
    }
  
    @font-face {
    font-family: "Quicksand";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Quicksand Bold"),
    }

    /* Scrollbar design */
    ::-webkit-scrollbar {
    width: 3px;
    }
        
    ::-webkit-scrollbar-track {
    background-color: #ffffff;
    }
        
    ::-webkit-scrollbar-thumb {
    background: #9ACD32; 
    }
        
    ::-webkit-scrollbar-thumb:hover {
    background: #84b12b; 
    }

    .dark {
    background-color: #1f1d1d;
    }

    /* Navbar design */
    .navbar {
    display: flex;
    justify-content: center;
    align-items: center;   
    }
    
    .containerHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }

    .navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    }
    
    .navbar-item {
    margin-right: 20px; 
    }
    
    .navbar-link {
    color: white;
    font-family: var(--ff-quicksand);
    font-size: 0.85rem;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 600; 
    text-decoration: none;
    position: relative; 
    overflow: hidden;
    }

    .navbar-link:hover {
    color: #9ACD32;
    }
    
    .navbar-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: #9ACD32;
    transform: scaleX(0); 
    transform-origin: left; 
    transition: transform 0.3s ease; 
    }
      
    .navbar-link:hover::before {
    transform: scaleX(1);
    }

    .custom-corner-button {
    padding: 10px 20px;
    margin-right: 2rem;
    border-top-right-radius: 0;
    background-color: #9ACD32;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-top-left-radius: 10px; 
    border-top-right-radius: 0;   
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;   
    font-weight: bold;
    transition: background-color 0.3s;
    }
    
    .custom-corner-button .fa-arrow-right {
    margin-left: 10px; 
    transition: transform 0.3s; 
    }
    
    .custom-corner-button:hover {
    background-color: white; 
    color: #9ACD32;
    border-top-right-radius: 10px;
    border-top-left-radius: 0;  
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; 
    }
    
    .custom-corner-button:hover .fa-arrow-right {
    transform: translateX(5px);
    }
    
    /* Footer design */ 
    .footer{
    padding: 40px 15%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    gap: 3.5rem;
    background: #161515;
    position: absolute;
    left: 0;
    right: 0;   
    }

    .footer-content h4{
    color: #fff;
    margin-bottom: 1.2rem;
    font-size: 20px;
    pointer-events: none;
    }

    .footer-content li{
    margin-bottom: 10px;
    }

    .footer-content li {
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
    text-decoration: none;
    cursor: pointer;
    }

    .footer-content li:hover{
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
    }

    .footer-content .desText{
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
    pointer-events: none;
    }

    .footer-icons a{
    display: inline-block;
    font-size: 22px;
    color: #9ACD32;
    margin-right: 17px;
    transition: all .40s ease;
    }

    .footer-icons a:hover{
    color: #7faf1e;
    transform: translateY(-5px);
    }