@import url('https://unpkg.com/boxicons@latest/css/boxicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

/* Text font */
:root {
  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-quicksand: 'Quicksand', sans-serif;
  --ff-nunito: 'Nunito', sans-serif;

  --fs-1: 2.125rem;
  --fs-2: 1.875rem;
  --fs-3: 1.5rem;
  --fs-4: 1.375rem;
  --fs-5: 1.125rem;
  --fs-6: 0.875rem;
  --fs-7: 0.625rem;

  --fw-400: 400;
  --fw-600: 600;
}

@font-face {
  font-family: "Quicksand";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Quicksand SemiBold"),
}

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Quicksand Bold"),
}

/* Scrollbar design */
:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }

.dark {
  background-color: #1f1d1d;
}

.betterText{
  color: white;
  font-family: var(--ff-quicksand);
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 600; 
}

/* Navbar design */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;   
}

.containerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.navbar-item {
  margin-right: 20px; 
}

.navbar-link {
  color: white;
  font-family: var(--ff-quicksand);
  font-size: 0.85rem;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: 600; 
  text-decoration: none;
  position: relative; 
  overflow: hidden;
  cursor: pointer;
}

.navbar-link:hover {
  color: #9ACD32;
}

.navbar-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 2px; 
  background-color: #9ACD32;
  transform: scaleX(0); 
  transform-origin: left; 
  transition: transform 0.3s ease; 
}
  
.navbar-link:hover::before {
  transform: scaleX(1);
}

.custom-corner-button {
  padding: 10px 20px;
  margin-right: 2rem;
  border-top-right-radius: 0;
  background-color: #9ACD32;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-top-left-radius: 10px; 
  border-top-right-radius: 0;   
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;   
  font-weight: bold;
  transition: background-color 0.3s;
}

.custom-corner-button .fa-arrow-right {
  margin-left: 10px; 
  transition: transform 0.3s; 
}

.custom-corner-button:hover {
  background-color: white; 
  color: #9ACD32;
  border-top-right-radius: 10px;
  border-top-left-radius: 0;  
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; 
}

.custom-corner-button:hover .fa-arrow-right {
  transform: translateX(5px);
}

/* Mobile dropdown menu styles */
@media (max-width: 1000px) {
  .navbar-toggler {
    margin-right: 2rem;
    display: none;
    font-size: 20px;
    color: white !important;
    cursor: pointer;
    display: block;
  }

  .navbar-toggler.active ~ .navbar-collapse {
    display: block;
  }

  .navbar-collapse {
    display: none;
    position: absolute;
    top: 105%;
    right: 1rem;
    background-color: #1f1d1d;
    border-radius: 10px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .navbar-collapse a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar-item {
    margin-right: 0;
  }

  .navbar-link {
    display: none;
  }

  .custom-corner-button {
    margin-right: 0;
    margin-top: 10px; 
  }
}

/* Heading content */
.sub-heading{
  text-align: center;
  color:var(--green);
  font-size: 1.5rem;
  padding-top: 7rem;
}

.heading{
  text-align: center;
  color:var(--black);
  font-size: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

/* Footer design */ 
.footer{
  padding: 40px 15%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  gap: 3.5rem;
  background: #161515;
  position: absolute;
  left: 0;
  right: 0;   
}

.footer-content h4{
  color: #fff;
  margin-bottom: 1.2rem;
  font-size: 20px;
  pointer-events: none;
}

.footer-content li{
  margin-bottom: 10px;
}

.footer-content li {
  display: block;
  color: #d6d6d6;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
  text-decoration: none;
  cursor: pointer;
}

.footer-content li:hover{
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
}

.footer-content .desText{
  color: #d6d6d6;
  font-size: 16px;
  line-height: 30px;
  margin: 20px 0;
  pointer-events: none;
}

.footer-icons a{
  display: inline-block;
  font-size: 22px;
  color: #9ACD32;
  margin-right: 17px;
  transition: all .40s ease;
}

.footer-icons a:hover{
  color: #7faf1e;
  transform: translateY(-5px);
}

/* Store title */
.title {
  color: #423c3c;
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 7rem auto 1rem auto; 
}

#bike-icon:hover {
  transform: rotate(0deg);
}

/* Profile Popup */
.profile-popup {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); 
}

.profile-container {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeInAnimation 0.5s ease-in-out;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #4b8b3b;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.close-btn {
  color: #4b8b3b;
  font-size: 30px;
  cursor: pointer;
  margin-top: -2rem;
}

.close-btn:hover {
  color: #366b2a;
}

.profile-btn {
  background-color: #4b8b3b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.profile-btn:hover {
  background-color: #366b2a;
}

.profile-info {  
  font-family: var(--ff-quicksand);
  font-size: 16px;
  line-height: 1.6;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.containerButton {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#signOutButton {
  background-color: #4b8b3b; 
  color: white;
  padding: 10px 20px;
  font-family: var(--ff-quicksand);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px; 
  transition: background-color 1.5s ease; 
}

#signOutButton:hover {
  background-color: #b92c2a;
}

/* Cart design */
.fa-shopping-cart{
  width: 20px;
}
.count-items{
  display: inline;
  width: 30px;
  height: 30px;
}

.shadowTwo{
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); 
}

.cartTab{
  width: 400px;
  background-color: #1f1d1d;
  color: #eee;
  position: fixed;
  inset: 73px -400px 0 auto;
  display: grid;
  z-index: 99;
  grid-template-rows: 70px 1fr 70px;
  transition: right 0.6s ease;
}

body.showCart .cartTab{
  inset: 73px 0 0 auto;
  transition: right 0.6s ease;
}

.cartTitle{
  font-weight: 600;
  padding: 10px;
}

.cartTab .cartName{
  margin-left: 1rem;
}

.cartTab .btnCart{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .btnCart button{
  background-color: #9ACD32;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.cartTab .btnCart button:hover {
  background-color: white; 
  color: #9ACD32;
}

.cartTab .listCart .cartItem img{
  width: 100%;
  border-radius: 10%;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.cartTab .listCart .cartItem{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.listCart .cartQuantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: white;
  color: #555;
  border-radius: 50%;
  cursor: pointer;
}

.listCart .cartQuantity span:nth-child(2){
  background-color: transparent;
  color: white;
}

.listCart .cartItem:nth-child(even){
  background-color: #615d5d;
}

.listCart{
  overflow: auto;
}

.listCart::-webkit-scrollbar{
  width: 0;
}

/* Media queries for responsiveness */
@media (max-width: 700px) {
  .profile-container {  
    width: 80%;
  }
}

@keyframes fadeInAnimation {
from {
    opacity: 0; 
}
to {
    opacity: 1; 
}
}
